.cart{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap:20px;
    padding-top: 40px;
}
.empty-cart{
   width: 100%;
   height: 100%;
   display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap:20px
}
.empty-cart img{
    width: 90%;
    max-width: 400px;
    
    margin-top: 40px;
   
}
.cartCard-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px
}
.price-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    
}