.shop{
    width: 100%;
    min-height: 100vh;
}
.shop .heading{
    font-size: 4vmax;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}